@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    /* max-width: 80rem; */
}

/* @layer base{
    .container{
        @apply p-[1.5rem] max-w-[140rem] mx-auto
        max-width: 10rem;
        width: 100%;
        margin: 0 auto;
        padding: 1.5rem;
    }
} */

@layer components{
    .toggle__menu span{
        width: 2rem;
        height: .2rem;
        background-color: white;
        display: block;
        border-radius: 5rem;
        transition: .5s ease;
    }
    .toggle__menu span:nth-child(2){
        margin: .2rem 0;
    }
    .toggle__menu.open span:first-child{
        @apply translate-x-0 translate-y-[10px] rotate-[225deg]  ease-out duration-[.5s];
    }
    .toggle__menu.open span:nth-child(2){
        @apply opacity-0;
    }
    .toggle__menu.open span:last-child{
        @apply translate-x-0 translate-y-[-3px] rotate-[-225deg]  ease-out duration-[.5s];
    }
    .toggle__menu1 span{
        width: 2rem;
        height: .2rem;
        background-color: white;
        display: block;
        border-radius: 5rem;
        transition: .5s ease;
    }
    .toggle__menu1 span:nth-child(2){
        margin: .2rem 0;
    }
    .toggle__menu1.open span:first-child{
        @apply translate-x-0 translate-y-[10px] rotate-[225deg]  ease-out duration-[.5s];
    }
    .toggle__menu1.open span:nth-child(2){
        @apply opacity-0;
    }
    .toggle__menu1.open span:last-child{
        @apply translate-x-0 translate-y-[-3px] rotate-[-225deg]  ease-out duration-[.5s];
    }
    .header__nav ul{
        @apply absolute bg-dark right-0 top-0 w-0 p-0 overflow-hidden h-[100vh] z-[1] lg:static lg:w-full lg:h-auto;
    }
    .header__nav ul li:not(:first-child),.header__nav ul li:not(:last-child){
        @apply mx-[2rem];
    }
    .header__nav ul.open{
        @apply w-[85%] p-[2rem];
    }
    .arjay.show{
        @apply w-full;
    }
    .btn{
        @apply inline-block py-[.5rem] px-[6rem];
    }
    .terms span{
        @apply underline;
    }
    .footer__item{
        @apply my-[3rem];
    }
    .footer__item ul li{
        @apply my-[1rem];
    }
    .footer__item i.open{
        @apply rotate-[-180deg]  ease-out duration-[.5s];
    }
    .footer__item ul{
        @apply ease-out duration-[.5s];
    }
    .footer__item ul.open{
        @apply ease-in duration-[.5s] max-h-96;
    }
    .foot__text ul li{
        @apply my-[.5rem];
    }
    .circle{
        @apply w-[7.5rem] text-center hover:opacity-[.9];
    }
    .circle a{
        @apply text-[1rem] font-semibold;
    }
    /* .platdocu__image{
        @apply w-[7.5rem] h-[7.5rem] mb-[1.2rem] rounded-full flex justify-center items-center;
    } */
    .platdocu__image img{
        @apply w-[4rem];
    }
    
    /*header*/
    .toggle__menu1 span{
        width: 1.5rem;
        height: .2rem;
        background-color: white;
        display: block;
        border-radius: 2px;
        transition: 300ms;    
    }
    .toggle__menu1 span:nth-child(2){
        margin: .3rem 0;
    }
    .toggle__menu1.open span:first-child{
        @apply translate-x-0 translate-y-[10px] rotate-[-45deg] ease-out duration-[.5];
    }
    .toggle__menu1.open span:nth-child(2){
        @apply opacity-0;
    }
    .toggle__menu1.open span:last-child{
        @apply translate-x-0 translate-y-[-6px] rotate-[45deg] ease-out duration-[.5];
    }
    .navi ul{
        @apply bg-[#222326] w-[100%] left-0 top-[5rem] h-0 overflow-hidden
    }
    .navi ul.open{
        @apply h-[30rem]
    }
    .navi ul li{
        @apply h-[5rem] flex items-center border-[1px] border-[#8F8F8F]
    }
    .navi ul li a{
        @apply text-[#ffffff] mx-[2rem]
    }
    .active{
        @apply border-b-2 border-green
    }
    .navi2 ul li a{
        @apply text-[#ffffff] text-[14px]
    }
    .navi2 ul li{
        @apply ml-[4.5rem]
    }

    /*EXPLORE*/
    .explore__content img{
        @apply w-[2.5rem]
    }
    .image{
        @apply hover:opacity-[.8];
    }

    /*footer*/
    .docsfooter__item ul li:not(:first-child),.header__nav ul li:not(:last-child){
        @apply my-[1rem];
    }
    .docsfooter__item1:not(:first-child),.header__nav ul li:not(:last-child){
        @apply my-[1rem]
    }

    .docs__item{
        @apply w-full
    }
    .docs:hover .docs__item{
        @apply lg:h-[30vh];
    }
    .docs1:hover .docs__item{
        @apply lg:h-[15vh];
    }
    .docs__content ul li{
        @apply ml-[unset]
    }
}